.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 1600px) {
      .container {
          max-width: 1580px;
      }
  }
  @media (min-width: 1900px) {
      .container {
          max-width: 1880px;
      }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 900px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1180px;
    }
  }

  .login-wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    background-image: url('./assets/images/login-background.jpg');
    background-size: cover;
    background-position: top;
}

.login-section{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    height: 100%;
}

.login-section *{
    width: 100%;
    max-width: 600px;
    min-height: 1px;
}

.navToggleBtn{
  display: none;
  color: #f9f9f9;
  font-size: 24px;
  line-height: 32px;
  margin-left: auto;
}

.navMenu{
  list-style-type: none;
  display: flex;
  gap: 5px;
  margin-left: 24px;
  align-items: center;
}

.navMenu li{
  color: #f9f9f9;
  padding: 0px 12px;
  margin: auto 0px;
  cursor: pointer;
  
}

.navMenu li>span{
  position: relative;
  display: inline-block;
}

.navMenu li>span::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f9f9f9;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.navMenu li>span:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navModal{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  background-color: #040714;
  opacity: 0.85;
  min-height: 100vh;
}

.navModalMenu{
  position: absolute;
  top: 80px;
  left: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.navModalMenu li{
  color: #f9f9f9;
}

@media(max-width: 950px){
  .navToggleBtn{
    display: block;
  }
  .navMenu, .navLoginBtn{
    display: none;
  }
}

/* Dropdown Button */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: white;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #f1f1f1;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 4px;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content p:hover {background-color: #f9f9f9;}

.dropdown:hover .dropdown-content {display: block;}

/* Home page CSS */
.home-wrapper{
  min-height: calc(100vh - 250px);
  position: relative;
  overflow-x: hidden;
  display: block;
  top: 72px;
  padding: 0 calc(3.5vw + 5px);
}

.home-wrapper::after{
  content: "";
  position: absolute;
  background-image: url('./assets/images/home-background.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
  inset: 0px;
  z-index: -1;
}
